<template>
  <div class="page-body">
    <loading-spinner :loading="loading"></loading-spinner>

    <data-table
      v-if="!loading"
      :data="responses"
      :columns="columns"
      :tableActions="tableActions"
      :headerActions="headerActions"
      :subTitle="subTitle"
      :title="title"
      :pagination="pagination"
      v-on:loadData="loadData"
      v-on:buttonEvent="buttonEvent"
    ></data-table>

  </div>
</template>

<script>
// import DateFomatter from "../../components/constants/DateFomatter";
export default {
  data() {
    return {
      responses: [],
      id: 0,
      eligibleMessage: "",
      loading: true,
      title: "",
      subTitle: "Question Responses",
      tableActions: [],
      headerActions: [
        
      ],
      columns: [
        {
          name: "UserNo",
          type: "text"
        },
        {
          name: "Name",
          type: "text"
        },
        {
          name: "Answer",
          type: "text"
        },
        {
          name: "DateAdded",
          type: "text"
        }
      ],
      pagination: {
        total: 0
      }
    };
  },

  methods: {
    loadData(itemsPerPage, pageNumber) {
      this.loading = true;
      var offset = 0;
      if (pageNumber > 1) offset = itemsPerPage * (pageNumber - 1);
      this.$http.get("AdminEvaluationsResponse/getGeneralQuestionResponses?id=" + this.id)
        .then(result => {
          this.responses = [];
          if (result.data.success) {
            // result.data.data.forEach(element => {
            //   element.dateAdded = DateFomatter.ReturnDate(element.sdate)
            // });
            this.title = result.data.data.question;
            this.responses = result.data.data.responses;
            this.pagination.total = this.responses.length;
            this.pagination.current = pageNumber;
          } else {
            this.$toastr("error", result.data.message);
            if (result.data.notAuthenticated) {
              this.$router.replace({ name: "401-forbidden" });
            }
          }
        })
        .catch(error => {
          this.$toastr("error", error.message);
        });
      this.loading = false;
    },
    buttonEvent(item, action) {}
  },
  created() {
      if (this.$route.params.id) {
        this.id = this.$route.params.id;
        this.loadData(10, 1);
    }
  }
};
</script>

<style>
</style>
