<template>
    <div class="page-body">
        <div class="card">
            <div class="card-header">

            </div>

            <div class="card-block">
                <input v-model="survey.name" placeholder="Survey Name" type="text" class="form-control"/><br>
                <v-select
                    :options="templateNames"
                    v-model="survey.templeteName"
                    placeholder="Select Template"
                    ></v-select>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Start Date</label>
                        <date-picker v-model="survey.startTime"></date-picker>
                    </div>
                    <div class="col-md-6">
                        <label>End Date</label>
                        <date-picker v-model="survey.endTime" :value="survey.endTime" :disabled="!survey.startTime"></date-picker>
                    </div>
                </div>

                <div v-if="!settings.isGenesis">
                  <label style="font-weight: bold">Select Role: &nbsp;&nbsp;&nbsp;</label>
                  <input
                    type="radio"
                    name="userType"
                    aria-label="Student"
                    id="student"
                    v-model="survey.role"
                    value="3"
                  />
                  <label for="student">Student</label> &nbsp;&nbsp;&nbsp;
                  <input
                    type="radio"
                    name="userType"
                    v-model="survey.role"
                    aria-label="Employee"
                    id="employee"
                    value="2"
                  />
                  <label for="employee">Employee</label>
                </div>

                <!-- <div class="form-group row">
                    <div class="col-md-6">
                        <v-select
                        :options="surveyStatus"
                        v-model="survey.status"
                        placeholder="Select Status"
                        ></v-select>
                    </div>
                </div> -->

                <table class="table" v-if="surveys">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(survey, index) in surveys" :key="index">
                            <td>{{index+1}}</td>
                            <td>{{survey.name}}</td>
                            <td>{{dateFomatter.ReturnDate(survey.startTime)}}</td>
                            <td>{{dateFomatter.ReturnDate(survey.endTime)}}</td>
                            <td><list-button :item="survey" :actions="tableActions" v-on:listButtonEvent="buttonEvent"></list-button></td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="card-footer">
                <div class="pull-right">
                    <submit-button
                    styling="btn btn-primary btn-round waves-effect waves-light "
                    :loading="submitting" :title="btnTxt" v-on:submit="saveSurvey"></submit-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import DateFomatter from "../../../components/constants/DateFomatter";
export default {
    watch: {
        "survey.endTime"(ends){
            if((new Date(this.survey.startTime) > new Date(ends))){
                // this.$toastr('error', "End date must be grater than start date")
                return
            }
        }
    },
    data() {
        return {
            subTitle: "Create Questionnaires",
            title: "Questionnaires",
            templateNames: [],
            settings: JSON.parse(localStorage.getItem("settings")),
            dateFomatter: DateFomatter,
            submitting: false,
            isEdit: false,
            survey: {},
            surveyStatus: [],
            surveys: [],
            tableActions: [
                {
                    name: "Edit",
                    icon: "edit",
                    type: "button",
                    path: "edit",
                    design: "success"
                }
            ]
        }
    },
    computed: {
        btnTxt(){
            return this.isEdit ? "Update" : "Save"
        }
    },
    methods: {
        buttonEvent(item, action) {
            switch (action) {
                case "edit":
                    item.startTime = new Date(item.startTime)
                    item.endTime = new Date(item.endTime)
                    this.survey = item
                    this.isEdit = true
                break;
                default:
                break;
            }
        },
        getSurveyTemplates(){
			this.$http.get("clearances/getSurveyTemplates")
			.then(result => {
                // result.data.data.surveys.forEach(element => {
                //     element.startTime =
                //     element.endTime = 
                // });
                this.surveys = result.data.data.surveys
                this.surveyStatus = result.data.data.surveyStatus
                result.data.data.surveyTemplates.forEach(element => {
                    this.templateNames.push(element.name);
                });
			})
			.catch(error => {
			    this.$toastr("error", error.message);
			});
        },
        saveSurvey(){
            this.submitting = true
            this.survey.status = "Clearance before graduation"
            this.$http.post("clearances/createSurvey", this.survey)
			.then(response => {
                this.submitting = false
				if (response.data.success) {
                    this.survey = {}
					this.$toastr('success', response.data.message);
				} else {
					this.$toastr('error', response.data.message);
				}
			})
			.catch(e => {
                this.submitting = false
				this.$toastr('error', "Server error occured,please try again");
			})
        },
    },
    created() {
		this.getSurveyTemplates();
	}
}
</script>

<style>

</style>
