<template>
    <div class="page-body"> <br>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-header card">
                    <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist">
                        <li class="nav-item" v-if="user.role === 2">
                            <router-link
                                exact-active-class="active"
                                class="nav-link"
                                to="/onlineSurvey/fillSurvey"
                            >Fill Survey</router-link>
                            <div class="slide"></div>
                        </li>

                        <li class="nav-item" v-if="user.role === 1">
                            <router-link exact-active-class="active" class="nav-link" to="/onlineSurvey/quections">Survey Template</router-link>
                            <div class="slide"></div>
                        </li>

                        <li class="nav-item" v-if="user.role === 1">
                            <router-link exact-active-class="active" class="nav-link" to="/onlineSurvey/clearance-survey">Survey</router-link>
                            <div class="slide"></div>
                        </li>

                        <li class="nav-item" v-if="user.role === 1">
                            <router-link exact-active-class="active" class="nav-link" to="/onlineSurvey/response">Response</router-link>
                            <div class="slide"></div>
                        </li>

                        <li class="nav-item" v-if="user.role === 1">
                            <router-link exact-active-class="active" class="nav-link" to="/onlineSurvey/clearanceReasons">Clearance Reasons</router-link>
                            <div class="slide"></div>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
    return {
      user: this.$baseRead('user'),
      settings : JSON.parse(localStorage.getItem("settings"))
    };
  },
}
</script>

<style>

</style>
