<template>
  <div class="page-body">
    <div class="card">
      <div class="card-header">
        <h5>{{title}}</h5>
        <span v-if="subTitle">{{ subTitle }}</span>
      </div>

      <div class="card-block">
          <div class="row">
          <div class="col-md-2">
            Financial Year
          </div>
          <div class="col-md-3">
            <v-select
              :options="financialYears"
              v-model="workplan.financialYear"
            ></v-select>
          </div>
          
        </div>
        <br />
        <div class="row">
          <div class="col-md-2">
            Department
          </div>
          <div class="col-md-3">
            <v-select
              :options="departments"
              v-model="workplan.department"
            ></v-select>
          </div>
          
        </div>
        <br />
        <div class="row">
          <div class="col-md-2">
            Section/Unit
          </div>
          <div class="col-md-3">
            <input
              v-model="workplan.sectionUnit"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-2">
            Officer In Charge Staff No
          </div>
          <div class="col-md-3">
            <input
              v-model="workplan.officerInCharge"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        <br />
        
      </div>

      <div class="card-footer">
        <div class="pull-right">
          <submit-button
            styling="btn btn-primary btn-round waves-effect waves-light "
            :loading="submitting"
            v-on:submit="save"
          ></submit-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      subTitle: "Departmental Workplan",
      title: "Workplan",
      submitting: false,
      loading: false,
      financialYears: [],
      departments: [],
      user: this.$baseRead("user"),
      workplan: {
        department: "",
        financialYear: "",
        sectionUnit: "",
        officerInCharge: "",
      },
      options: {
        format: "DD/MM/YYYY",
        useCurrent: false,
      },
    };
  },
  methods: {
    GetFinancialYears() {
      this.loading = true;
      this.$http
        .get("utilities/GetFinancialYears")
        .then((result) => {
          if (result.data.success) {
            this.financialYears = result.data.data;
          } else {
            this.$toastr("error", result.data.message);
            if (result.data.notAuthenticated) {
              this.$router.replace({ name: "401-forbidden" });
            }
          }
        })
        .catch((error) => {
          this.loading = false;
        });
    },
    GetDepartments() {
      this.loading = true;
      this.$http
        .get("utilities/GetDepartments")
        .then((result) => {
          if (result.data.success) {
            this.departments = result.data.data;
          } else {
            this.$toastr("error", result.data.message);
            if (result.data.notAuthenticated) {
              this.$router.replace({ name: "401-forbidden" });
            }
          }
        })
        .catch((error) => {
          this.loading = false;
        });
    },
    save() {
      this.submitting = true;
      this.$http
        .post("workplan/CreateWorkPlan", this.workplan)
        .then((response) => {
          this.submitting = false;
          if (response.data.success) {
            this.$toastr("success", response.data.message);
            this.$router.push("/workplan");
          } else {
            this.$toastr("error", response.data.message);
          }
        })
        .catch((e) => {
          this.$toastr("error", e.message);
        });
    },
  },
  created() {
    this.GetFinancialYears();
    this.GetDepartments();
    console.log(this.user.username);
  },
};
</script>
<style>
</style>
