<template>
    <div class="page-body">
        <div class="card">
            <div class="card-header">
              <h5>{{title}}</h5>
              <span v-if="subTitle">{{ subTitle }}</span>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2" v-if="user.role == 1">
                        <button class="btn btn-primary btn-round waves-effect waves-light">
                            <router-link to="add-department-workplan" style="color:white">
                                Add 
                            </router-link>
                        </button>
                    </div>
                </div><br><br>
                

                <div class="row" v-if="workplans">
                    <div class="col-md-12">
                        <div class="table-responsive" id="projects">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <th>Department</th>
                                    <th>Financial Year</th>
                                    <th>Section</th>
                                    <th>Officer In Charge</th>
                                    <th>Status</th>
                                    <th>Created Date</th>
                                    <th>Action</th>
                                </thead>

                                <tbody>
                                    <tr v-for="(workplan, index) in workplans" :key="index">
                                        <td>{{workplan.department}}</td>
                                        <td>{{workplan.financialYear}}</td> 
                                        <td>{{workplan.sectionUnit}}</td>
                                        <td>{{workplan.officerInCharge}}</td>
                                        <td>{{workplan.status}}</td>
                                        <td>{{workplan.dateAdded}}</td>
                                        <td><list-button :item="workplan" :actions="tableActions" v-on:listButtonEvent="buttonEvent"></list-button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import DateFomatter from "../../components/constants/DateFomatter";
export default {
  data() {
    return {
      loading: true,
      workplans: [],
      submitting: false,
      tableActions: [
        {
          name: "Details",
          type: "button",
          icon: "trash",
          path: "details",
          design: "danger",
        },
      ],
      subTitle: "",
      from: null,
      to: null,
      title: "Department Workplans",
      searchText: "",
      user: this.$baseRead("user"),
      headerActions: [],
    };
  },
  methods: {
    print() {
      // this.$htmlToPaper("projects");
    },
    searchByText(enteredText) {
      // this.searchText = enteredText;
    },
    generate() {
      this.submitting = true;
      this.$http
        .get("workplan/getworkplans")
        .then((result) => {
          if (result.data.success) {
            result.data.data.forEach((element) => {
              element.dateAdded = DateFomatter.ReturnDate(element.dateAdded);
            });
            this.workplans = result.data.data;
          } else {
            this.$toastr("error", result.data.message);
          }
        })
        .catch((error) => {
          this.submitting = false;
        });
    },
    getHeaderActions() {
      if (this.user.role === 1) {
        this.headerActions = [
          {
            name: "Add",
            icon: "plus",
            type: "link",
            path: "add-department-workplan",
            design: "primary",
          },
        ];

        this.generate();
      }
    },
    buttonEvent(item, action) {
      switch (action) {
        case "details":
          this.$router.replace({
            name: "workplan-detail",
            params: { id: item.id },
          });
          break;
        default:
          break;
      }
    },
  },
  created() {
    if (this.user.role == 1) {
      this.generate();
      //this.getHeaderActions();
    }
  },
};
</script>

<style>
</style>
