<template>
  <div class="page-body">
    <div class="row">
      <!-- Task-detail-right start -->
      <div class="col-xl-4 col-lg-12 push-xl-8 task-detail-right">
        <div class="card">
          <div class="card-header">
            <h5 class="card-header-text">
              <i class="icofont icofont-clock-time m-r-10"></i>Work Plan
            </h5>
          </div>
          <div class="card-block">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-4"> Department</div>
                    <div class="col-md-8"> {{workplan.department}} </div>
                  </div>   
                  </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-4"> Financial Year </div>
                    <div class="col-md-4"> {{workplan.financialYear}} </div>
                  </div>
                  </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-4"> Section/Unit </div>
                    <div class="col-md-4"> {{workplan.sectionUnit}} </div>
                  </div>
                  </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-4">Officer In Charge</div>
                    <div class="col-md-4"> {{workplan.officerInCharge}}</div>
                  </div>
                  </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-4"> Status</div>
                    <div class="col-md-4">{{workplan.status}}</div>
                  </div>
                </li>
                <li class="list-group-item">
                  <button class="badge badge-primary" @click="publishWorkPlan('publish')" v-if="!workplan.published">Publish Workplan</button>
                  <button class="badge badge-success" @click="activateWorkPlan('activate')" v-if="workplan.status == 'Pending' || workplan.status == 'InActive'">Make Active</button>

                  <button class="badge badge-primary" @click="publishWorkPlan('unpublish')" v-if="workplan.published">Un-Publish Workplan</button>
                  <button class="badge badge-success" @click="activateWorkPlan('inactivate')" v-if="workplan.status == 'Active'">Make InActive</button>
                </li>
              </ul>
          </div>
          <div class="card-footer">
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5 class="card-header-text">
              <i class="icofont icofont-ui-note m-r-10"></i> Work Plan Objectives
            </h5>
            <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter">
              <i class="icofont icofont-ui-alarm"></i>Add Objective
            </button>
          </div>
          <div class="card-block task-details">

            <ul class="list-group list-group-flush">
              <li class="list-group-item" v-for="(objective, index) in workplan.workPlanObjectives" :key="index" @click="getObjective(objective.id)">
                <div class="row">
                  <div class="col-md-8">
                    {{index + 1}} . {{objective.description}}
                  </div>
                  <div class="col-md-4">
                    <button class="badge badge-info"  data-toggle="modal" @click="setModalContext(objective.id, 'Objective',true, objective.description)"
                                      data-target="#exampleModalCenter2">Edit</button>
                    <button class="badge badge-danger" @click="deleteItem(output.id, 'Objective')">Delete</button>
                  </div>
                </div>
                
              </li>
            </ul>
          </div>
          <div class="card-footer">
            
          </div>
        </div>
      </div>
      <!-- Task-detail-left start -->
      <div class="col-xl-8 col-lg-12 pull-xl-4">
        <div class="card" v-if="objectiveActive">
          <div class="card-header">
            <h5 v-if="objective">
              <i class="icofont icofont-tasks-alt m-r-5"></i> {{objective.description}}
            </h5>
            <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter1">
              <i class="icofont icofont-ui-alarm"></i>Add Activity
            </button>
          </div>
          <div class="card-block">
            
          <div class="card-block accordion-block">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="accordion-panel" v-for="(act, index) in objective.workPlanActivities" :key="index">
                    <div class="accordion-heading" role="tab" :id="act.id+'-h'">
                        <h3 class="card-title accordion-title">
                            <a class="accordion-msg waves-effect waves-dark" data-toggle="collapse"
                            data-parent="#accordion" :href="'#'+act.id"
                            aria-expanded="true" aria-controls="collapseOne">
                            <div class="row">
                              <div class="col-md-12">{{index + 1}}. {{act.description}}</div>
                              
                            </div>
                            
                        </a>
                    </h3>
                </div>
                <div :id="act.id" class="panel-collapse collapse in" role="tabpanel" :aria-labelledby="act.id+'-h'">
                    <div class="accordion-content accordion-desc"><br>
                        <ul class="list-group">
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Quater: <span class="badge badge-primary badge-pill">{{act.quarter}}</span> Budget: <span class="badge badge-primary badge-pill">{{act.budget}} </span>
                            Completion Date: <span class="badge badge-primary badge-pill">
                                {{act.byDate}}
                              </span>
                          </li>
                        </ul><br>
                      
                      <div class="row">
                        <div class="col-md-8"><h5>Activity Outputs</h5></div>
                        <div class="col-md-4"><button class="btn btn-primary  btn-sm" data-toggle="modal" @click="setModalContext(act.id, 'Output',false, '')"
                         data-target="#exampleModalCenter2">Add Output</button></div>
                      </div>
                      <div class="table-responsive">
                        
                          <table class="table">
                              <thead>
                                  <tr>
                                    <th>#</th>
                                      <th>Activity Output</th>
                                      <th>Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr v-for="(output, index) in act.outPuts" :key="index">
                                      <td>{{index + 1}}</td>
                                      <td>{{output.description}}</td>
                                      <td><button class="badge badge-info" data-toggle="modal" @click="setModalContext(output.id, 'Output',true, output.description)"
                                      data-target="#exampleModalCenter2">Edit</button>
                                          <button class="badge badge-danger" @click="deleteItem(output.id, 'Output')">Delete</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div><br>
                      
                      <div class="row">
                        <div class="col-md-8"><h5>Collabollators</h5></div>
                        <div class="col-md-4"><button class="btn btn-primary  btn-sm" data-toggle="modal" @click="setModalContext(act.id, 'Officer',false, '')"
                         data-target="#exampleModalCenter2">Add Collaborator</button></div>
                      </div>
                      <div class="table-responsive">
                        
                          <table class="table">
                              <thead>
                                  <tr>
                                    <th>#</th>
                                      <th>Staff No</th>
                                      <th>Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr v-for="(officer, index) in act.officers" :key="index">
                                      <td>{{index + 1}}</td>
                                      <td>{{officer.staffNo}}</td>
                                      <td>
                                          <button class="badge badge-danger" @click="deleteItem(officer.id, 'Officer')">Remove</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div><br>
                      
                      
                      <div class="row">
                        <div class="col-md-8"><h5>Activity Monitoring and Evaluation</h5></div>
                        <div class="col-md-4"><button class="btn btn-primary btn-sm" data-toggle="modal" @click="setModalContext(act.id, 'Evaluation',false, '')"
                         data-target="#exampleModalCenter2">Add Evaluation</button></div>
                      </div>
                      <div class="table-responsive">
                        
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>Evaluation</th>
                                      <th>Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr v-for="(output, index) in act.monitoringEvaluations" :key="index">
                                      <td>{{index + 1}}</td>
                                      <td>{{output.description}}</td>
                                      <td><button class="badge badge-info" data-toggle="modal" @click="setModalContext(output.id, 'Output',true, output.description)"
                                      data-target="#exampleModalCenter2">Edit</button>
                                          <button class="badge badge-danger" @click="deleteItem(output.id, 'Evaluation')">Delete</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <button class="badge badge-info"   @click="getActivityEdit(act)"
                                      data-toggle="modal" data-target="#exampleModalCenter1">Edit</button>
                                <button class="badge badge-danger" @click="deleteItem(act.id, 'Activity')">Delete</button>
                    </div>
                </div>
            </div>
          </div>
          </div>
          </div>


          </div>
          <div class="card-footer"></div>
        </div>
      </div>
  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Objective</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <label>Objective Description</label>
                    <textarea v-model="objectiveStr" class="form-control"  rows="3"></textarea>
                </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" @click="addObjective('add')">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1" v-if="!isEdit">Add Activity</h5>
        <h5 class="modal-title" id="exampleModalLongTitle1" v-if="isEdit">Edit Activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Select Activity Quarter</label>
                <v-select v-model="activity.quarter" :options=quarters ></v-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <label>Activity Description</label>
                    <textarea v-model="activity.description" class="form-control"  rows="3" ></textarea>
                </div>
            </div>
          </div>

          <div class="row">
            
            <div class="col-md-12">
              <label>Budget</label>
              <input class="form-control border-input" v-model="activity.budget" type="number" min="0" ><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <label>By Date</label>
              <input class="form-control border-input" v-model="activity.byDate" type="date" min="0" ><br>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" v-if="!isEdit" @click="addActivity()">Save</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" v-if="isEdit" @click="editActivity()">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">Add {{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <label v-if="modalTitle != 'Officer'"> {{modalTitle}} Description</label>
                  <label v-if="modalTitle == 'Officer'"> Enter the staff numbers of the collaborators comma separated</label>
                    <textarea v-model="tempStr" class="form-control"  rows="3"></textarea>
                </div>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"  @click="saveContext()">Save</button>
      </div>
    </div>
  </div>
</div>
  </div>

  
</template>

<script>
import DateFomatter from "../../components/constants/DateFomatter";
export default {
  data() {
    return {
      loading: true,
      workplan: {},
      activities: [],
      id: "00000000-0000-0000-0000-000000000000",
      objective: {},
      activity: {},
      activityEdit: {},
      objectiveActive: false,
      submitting: false,
      quarters: ["Q1", "Q2", "Q3", "Q4"],
      subTitle: "",
      from: null,
      to: null,
      objectiveStr: null,
      activityStr: "",
      modalTitle: "",
      tempStr: "",
      contextId: "",
      activityEditId: "",
      isEdit: false,
      title: "Department Work Plan Details",
      searchText: "",
      user: this.$baseRead("user"),
    };
  },
  methods: {
    generate(id) {
      this.submitting = true;
      this.$http
        .get("workplan/GetWorkPlan?id=" + id)
        .then((result) => {
          this.submitting = false;
          if (result.data.success) {
            this.workplan = result.data.data;
            this.workplan.dateAdded = DateFomatter.ReturnDate(
              this.workplan.dateAdded
            );
            console.log(this.workplan);
          } else {
            this.$toastr("error", result.data.message);
          }
        })
        .catch((error) => {
          this.submitting = false;
        });
    },
    getObjective(id) {
      this.submitting = true;
      this.$http
        .get("workplan/GetWorkPlanObjective?id=" + id)
        .then((result) => {
          this.submitting = false;
          if (result.data.success) {
            this.objective = result.data.data;
            console.log(this.objective);
            this.objectiveActive = true;
          } else {
            this.$toastr("error", result.data.message);
          }
        })
        .catch((error) => {
          this.submitting = false;
        });
    },
    setModalContext(id, context, isEdit, edit) {
      this.contextId = id;
      this.modalTitle = context;
      this.isEdit = isEdit;
      this.tempStr = edit;
    },
    saveContext() {
      var url = "";
      if (this.modalTitle == "Output") {
        if (this.isEdit) {
          url = "workplan/EditWorkPlanActivityOutput";
        } else {
          url = "workplan/CreateWorkPlanActivityOutput";
        }

        this.saveOutput(url);
      }
      if (this.modalTitle == "Officer") {
        url = "workplan/CreateWorkplanActivityOfficers";

        this.saveOfficers(url);
      }
      if (this.modalTitle == "Evaluation") {
        if (this.isEdit) {
          url = "workplan/EditWorkPlanActivityEvaluation";
        } else {
          url = "workplan/CreateWorkPlanActivityEvaluation";
        }
        this.saveEvaluation(url);
      }
      if (this.modalTitle == "Objective") {
        url = "workplan/EditWorkPlanObjective";
        this.addObjective(url);
      }
    },
    saveEvaluation(url) {
      this.submitting = true;
      var wObj = {
        ActivityId: this.contextId,
        Description: this.tempStr,
      };
      this.$http
        .post(url, wObj)
        .then((response) => {
          this.submitting = false;
          if (response.data.success) {
            this.$toastr("success", response.data.message);
            this.getObjective(this.objective.id);
            this.contextId = "";
            this.tempStr = "";
          } else {
            this.$toastr("error", response.data.message);
          }
          this.isEdit = false;
        })
        .catch((e) => {
          this.$toastr("error", e.message);
        });
    },
    saveOutput(url) {
      this.submitting = true;
      var wObj = {
        ActivityId: this.contextId,
        Description: this.tempStr,
      };
      this.$http
        .post(url, wObj)
        .then((response) => {
          this.submitting = false;
          if (response.data.success) {
            this.$toastr("success", response.data.message);
            this.getObjective(this.objective.id);
            this.contextId = "";
            this.tempStr = "";
          } else {
            this.$toastr("error", response.data.message);
          }
          this.isEdit = false;
        })
        .catch((e) => {
          this.$toastr("error", e.message);
        });
    },
    saveOfficers(url) {
      if (!this.tempStr) {
        this.$toastr("error", "Type in the staff numbers first");
        return;
      }
      var staffNos = [];
      if (this.tempStr.includes(",")) {
        staffNos = this.tempStr.split(",");
      } else {
        staffNos.push(this.tempStr);
      }
      console.log(staffNos);
      this.submitting = true;
      var wObj = {
        ActivityId: this.contextId,
        StaffNumbers: staffNos,
      };
      this.$http
        .post(url, wObj)
        .then((response) => {
          this.submitting = false;
          if (response.data.success) {
            this.$toastr("success", response.data.message);
            this.getObjective(this.objective.id);
            this.contextId = "";
            this.tempStr = "";
          } else {
            this.$toastr("error", response.data.message);
          }
        })
        .catch((e) => {
          this.$toastr("error", e.message);
        });
    },
    addObjective(url) {
      this.submitting = true;
      if (url == "add") {
        url = "workplan/CreateWorkPlanObjective";
      }
      var wObj = {
        WorkPlanId: this.isEdit ? this.contextId : this.id,
        Description: this.isEdit ? this.tempStr : this.objectiveStr,
      };
      this.$http
        .post(url, wObj)
        .then((response) => {
          this.submitting = false;
          if (response.data.success) {
            this.$toastr("success", response.data.message);
            this.generate(this.id);
            this.objectiveStr = "";
          } else {
            this.$toastr("error", response.data.message);
          }
          this.isEdit = false;
        })
        .catch((e) => {
          this.$toastr("error", e.message);
        });
    },
    addActivity() {
      this.submitting = true;
      this.activity.ObjectiveId = this.objective.id;
      this.$http
        .post("workplan/CreateWorkPlanActivity", this.activity)
        .then((response) => {
          this.submitting = false;
          if (response.data.success) {
            this.$toastr("success", response.data.message);
            this.getObjective(this.objective.id);
            this.objectiveStr = "";
          } else {
            this.$toastr("error", response.data.message);
          }
        })
        .catch((e) => {
          this.$toastr("error", e.message);
        });
    },
    getActivityEdit(act) {
      this.activity = act;
      this.activityEditId = act.id;
      this.isEdit = true;
    },
    editActivity() {
      this.submitting = true;
      this.activity.ObjectiveId = this.activityEditId;
      this.$http
        .post("workplan/EditWorkPlanActivity", this.activity)
        .then((response) => {
          this.submitting = false;
          if (response.data.success) {
            this.$toastr("success", response.data.message);
            this.getObjective(this.objective.id);
            this.objectiveStr = "";
          } else {
            this.$toastr("error", response.data.message);
          }
          this.isEdit = false;
        })
        .catch((e) => {
          this.$toastr("error", e.message);
        });
    },
    deleteItem(id, context) {
      var url = "";
      if (context == "Output") {
        url = "workplan/DeleteWorkPlanActivityOutput?id=";
      }
      if (context == "Officer") {
        url = "workplan/RemoveWorkPlanActivityOfficer?id";
      }
      if (context == "Evaluation") {
        url = "workplan/DeleteWorkplanActivityEvaluation?id=";
      }
      if (context == "Objective") {
        url = "workplan/DeleteWorkPlanObjective?id=";
      }
      if (context == "Activity") {
        url = "workplan/DeleteWorkplanActivity?id=";
      }
      this.loading = true;
      this.$http
        .get(url + id)
        .then((response) => {
          this.submitting = false;
          if (response.data.success) {
            this.$toastr("success", response.data.message);
            if (context == "Objective") {
              this.generate(this.id);
            } else {
              this.getObjective(this.objective.id);
            }
          } else {
            this.$toastr("error", response.data.message);
          }
        })
        .catch((error) => {
          this.loading = false;
        });
    },
    publishWorkPlan(action) {
      var url = "workplan/Publish?id=" + this.id + "&action=" + action;
      this.loading = true;
      this.$http
        .get(url)
        .then((response) => {
          this.submitting = false;
          if (response.data.success) {
            this.$toastr("success", response.data.message);
            this.generate(this.id);
          } else {
            this.$toastr("error", response.data.message);
          }
        })
        .catch((error) => {
          this.loading = false;
        });
    },
    activateWorkPlan(action) {
      var url = "workplan/Activate?id=" + this.id + "&action=" + action;
      this.loading = true;
      this.$http
        .get(url)
        .then((response) => {
          this.submitting = false;
          if (response.data.success) {
            this.$toastr("success", response.data.message);
            this.generate(this.id);
          } else {
            this.$toastr("error", response.data.message);
          }
        })
        .catch((error) => {
          this.loading = false;
        });
    },
  },

  created() {
    if (this.user.role == 1) {
      this.id = this.$route.params.id;
      console.log(this.id);
      this.generate(this.id);
    }
  },
};
</script>

<style>
</style>
